In [1]:
from fastai import *
from fastai.tabular import *

In [19]:
df = pd.read_csv('titanic/train.csv').drop(['Name'], axis=1)
testdf = pd.read_csv('titanic/processed_test.csv').drop(['Name'], axis=1)

In [21]:
testdf.iloc[0]

PassengerId       892
Pclass              3
Sex              male
Age              34.5
SibSp               0
Parch               0
Ticket         330911
Fare           7.8292
Cabin             NaN
Embarked            Q
Name: 0, dtype: object

In [12]:
dep_var = 'Survived'
cont_names = ['Fare']
cat_names = ['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked']

procs = [FillMissing, Categorify, Normalize]
PATH = Path('titanic')

In [13]:
testdf.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,female,22.0,1,1,3101298,12.2875,NaN,S

In [14]:
np.random.seed(41)
test = TabularList.from_df(testdf, path=PATH, cat_names=cat_names, cont_names=cont_names, procs=procs)
data = (TabularList.from_df(df, cat_names=cat_names, cont_names=cont_names, procs=procs, path=PATH)
        .random_split_by_pct(0.10)
        .label_from_df(cols=dep_var)
        .add_test(test)
        .databunch())

In [15]:
learn = tabular_learner(data, layers=[200, 400], metrics=accuracy)

In [16]:
learn.load('model_83_1')

Learner(data=TabularDataBunch;
Train: LabelList
y: CategoryList (802 items)
[Category 0, Category 1, Category 1, Category 1, Category 0]...
Path: titanic
x: TabularList (802 items)
[TabularLine PassengerId 1; Pclass 3; Sex male; Age 22.0; SibSp 1; Parch 0; Ticket A/5 21171; Cabin #na#; Embarked S; Fare -0.4914; , TabularLine PassengerId 2; Pclass 1; Sex female; Age 38.0; SibSp 1; Parch 0; Ticket PC 17599; Cabin C85; Embarked C; Fare 0.7914; , TabularLine PassengerId 3; Pclass 3; Sex female; Age 26.0; SibSp 0; Parch 0; Ticket STON/O2. 3101282; Cabin #na#; Embarked S; Fare -0.4779; , TabularLine PassengerId 4; Pclass 1; Sex female; Age 35.0; SibSp 1; Parch 0; Ticket 113803; Cabin C123; Embarked S; Fare 0.4271; , TabularLine PassengerId 5; Pclass 3; Sex male; Age 35.0; SibSp 0; Parch 0; Ticket 373450; Cabin #na#; Embarked S; Fare -0.4754; ]...
Path: titanic;
Valid: LabelList
y: CategoryList (89 items)
[Category 0, Category 0, Category 1, Category 0, Category 0]...
Path: titanic
x: TabularList (89 items)
[TabularLine PassengerId #na#; Pclass 3; Sex male; Age #na#; SibSp 0; Parch 0; Ticket #na#; Cabin #na#; Embarked S; Fare -0.4754; , TabularLine PassengerId #na#; Pclass 3; Sex male; Age 21.0; SibSp 0; Parch 0; Ticket 54636; Cabin #na#; Embarked S; Fare -0.3141; , TabularLine PassengerId #na#; Pclass 1; Sex female; Age 30.0; SibSp 0; Parch 0; Ticket #na#; Cabin #na#; Embarked C; Fare 1.4954; , TabularLine PassengerId #na#; Pclass 2; Sex male; Age 25.0; SibSp 1; Parch 2; Ticket SC/Paris 2123; Cabin #na#; Embarked C; Fare 0.1963; , TabularLine PassengerId #na#; Pclass 3; Sex female; Age 31.0; SibSp 0; Parch 0; Ticket #na#; Cabin #na#; Embarked S; Fare -0.4793; ]...
Path: titanic;
Test: LabelList
y: CategoryList (418 items)
[Category 0, Category 0, Category 0, Category 0, Category 0]...
Path: titanic
x: TabularList (418 items)
[TabularLine PassengerId #na#; Pclass 3; Sex male; Age 34.5; SibSp 0; Parch 0; Ticket #na#; Cabin #na#; Embarked Q; Fare -0.4798; , TabularLine PassengerId #na#; Pclass 3; Sex female; Age 47.0; SibSp 1; Parch 0; Ticket #na#; Cabin #na#; Embarked S; Fare -0.4964; , TabularLine PassengerId #na#; Pclass 2; Sex male; Age 62.0; SibSp 0; Parch 0; Ticket #na#; Cabin #na#; Embarked Q; Fare -0.4426; , TabularLine PassengerId #na#; Pclass 3; Sex male; Age 27.0; SibSp 0; Parch 0; Ticket #na#; Cabin #na#; Embarked S; Fare -0.4631; , TabularLine PassengerId #na#; Pclass 3; Sex female; Age 22.0; SibSp 1; Parch 1; Ticket 3101298; Cabin #na#; Embarked S; Fare -0.3905; ]...
Path: titanic, model=TabularModel(
  (embeds): ModuleList(
    (0): Embedding(803, 68)
    (1): Embedding(4, 3)
    (2): Embedding(3, 3)
    (3): Embedding(89, 20)
    (4): Embedding(8, 5)
    (5): Embedding(8, 5)
    (6): Embedding(630, 59)
    (7): Embedding(138, 25)
    (8): Embedding(4, 3)
  )
  (emb_drop): Dropout(p=0.0)
  (bn_cont): BatchNorm1d(1, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): Linear(in_features=192, out_features=200, bias=True)
    (1): ReLU(inplace)
    (2): BatchNorm1d(200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (3): Linear(in_features=200, out_features=400, bias=True)
    (4): ReLU(inplace)
    (5): BatchNorm1d(400, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (6): Linear(in_features=400, out_features=2, bias=True)
  )
), opt_func=functools.partial(<class 'torch.optim.adam.Adam'>, betas=(0.9, 0.99)), loss_func=<function cross_entropy at 0x1a221e2a60>, metrics=[<function accuracy at 0x1a2242eea0>], true_wd=True, bn_wd=True, wd=0.01, train_bn=True, path=PosixPath('titanic'), model_dir='models', callback_fns=[<class 'fastai.basic_train.Recorder'>], callbacks=[], layer_groups=[Sequential(
  (0): Embedding(803, 68)
  (1): Embedding(4, 3)
  (2): Embedding(3, 3)
  (3): Embedding(89, 20)
  (4): Embedding(8, 5)
  (5): Embedding(8, 5)
  (6): Embedding(630, 59)
  (7): Embedding(138, 25)
  (8): Embedding(4, 3)
  (9): Dropout(p=0.0)
  (10): BatchNorm1d(1, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (11): Linear(in_features=192, out_features=200, bias=True)
  (12): ReLU(inplace)
  (13): BatchNorm1d(200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (14): Linear(in_features=200, out_features=400, bias=True)
  (15): BatchNorm1d(400, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (16): Linear(in_features=400, out_features=2, bias=True)
)])

In [28]:
sample = learn.predict(testdf.iloc[4])[0]

In [48]:
for i, j in enumerate(testdf.iloc[:]):
    j
    if i == 5:
        break

In [52]:
testdf.iloc[0]

PassengerId       892
Pclass              3
Sex              male
Age              34.5
SibSp               0
Parch               0
Ticket         330911
Fare           7.8292
Cabin             NaN
Embarked            Q
Name: 0, dtype: object

In [55]:
predictions = [(testdf.iloc[i][0], to_np(learn.predict(testdf.iloc[i])[0])) for i in range(len(testdf))]

In [58]:
predictions = np.array(predictions)
predictions = pd.DataFrame(predictions)
predictions.columns = ['PassengerId', 'Survived']

In [64]:
predictions.to_csv('yet_another_submission.csv', index=False)